.movie-con{
  
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 border-radius: 10px;
  margin: 10px;
  transition: all 2s ease;
  
}
.movie-con:hover{
  transform: scale(1.2);
}
.bg-con{
  justify-content: center;
  align-items: center;
  
}